body {
    height: 100%;
    width: 100%;
    background-image: url(/img/construzione/screenshots_beta/banana.jpg);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
