@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>It`s website about me. I am Alexander "<i>snaulX</i>" Gunger.</p>
            <p>Age - 15</p>
            <p>I am <a href="LevelDesign" class="card-link">level-designer</a>
            and <a href="Programming" class="card-link">programmer</a>.</p>
    </div>
