@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    if (Model.Lang == null) Model.Lang = "en";
}

    <div class="text-center">
        @if (Model.Lang == "en")
        {
            <h1 class="display-4">Welcome</h1>
            <p>It`s website about me. I am Alexander "<i>snaulX</i>" Gunger.</p>
            <p>Age - 15</p>
            <p>I am <a href="LevelDesign?lang=en" class="card-link">level-designer</a>
            and <a href="Programming?lang=en" class="card-link">programmer</a>.</p>
        }
        else if (Model.Lang == "ru")
        {
            <h1 class="display-4">Добро Пожаловать</h1>
            <p>Это сайт обо мне. Я - Александр "<i>snaulX</i>" Гунгер</p>
            <p>Возраст - 15</p>
            <p>Я <a href="LevelDesign?lang=ru" class="card-link">дизайнер игровых уровней (локаций; карт)</a>
            и <a href="Programming?lang=ru" class="card-link">программист</a>.</p>
        }
        else
        {
            <h3>Language with name @Model.Lang not found</h3>
        }
    </div>
