@page
@model IndexModel
@{
    ViewData["Title"] = "Level Design";
}

<div class="text-center">
        <h1 class="display-4">Level-design</h1>
        <p class="container">
            I do not work as an official level-designer, but I am lovingly engaged in creating
            levels for CS:GO and Portal 2. At the moment, development is underway on my first
            map for CS:GO - <a href="maps/construzione/Index">Construzione</a> (de_construzione).
        </p>
</div>
