@page
@model IndexModel
@{
    ViewData["Title"] = "Programming";
}

<div class="text-center">
    <h1 class="display-4">Programming</h1>
    <p class="container">
        My main job and hobby is programming. I have some old personal projects frozen (development was
        in progress but stopped hoping to resume). But at the moment I am developing my own programming
        language Mino, and also working as a programmer in the <a href="https://fbay.space" target="_blank">
        SCP: Deleted Chronicles</a> project.
    </p>
</div>
